html
{
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
    color: #bf823b;
}
h1 > span
{
    color: #fda642;
}
h2
{
    border-bottom: solid gray 1px;
    color: #70af0a;
}
h3
{
    color: #bf813bc9;
}
main
{
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
nav
{
    padding: 5px 30px;
    margin-right: 25px;
}
section
{
    border: solid gray 1px;
    padding: 5px 25px;
    width: 100%;
}